header{
	display: none;
}
footer{
	display: none;
}

@media (orientation:landscape)  {
main{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
