main{

	position: relative;
	margin: 0 auto;
	width: 80vw;
	z-index: 100;
	height: 100vh;

}

html{
	min-width: 400px;
}




body{
    background: wheat;
}

header{
    border:solid;
}


main{
	
	overflow-y:scroll; 
	position: relative;
    border-left: solid;
    border-right:solid;


}

@media only screen and (max-width: 400px) {
	main{
		width: 100%;
		overflow-y:scroll; 
		position: relative;
    	border-left: solid;
    	border-right:solid;
	}
}




footer{
	position: relative;
	clear: both;
    border:solid;

}

header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

  ul li {
    display: inline-block;
}

 ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



#nav2 ul{
    position: relative;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	
}

#nav2 li{
    background-color: #c1c1c1;
	padding-right: 1em;

}






/* Change the link color to #111 (black) on hover */
 header ul li a:hover {
    background-color: #111;
}